.about {
  width: 100vw;
  height: 33.75vw;
  background-color: #dfd3c3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 34vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.about-content .about-title {
  width: 100%;
  color: #000;
  font-family: Inter;
  font-size: 4.375vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
}

.about-content .about-desc {
  width: 26vw;
  color: #000;
  font-family: Inter;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-content .about-team-btn {
  width: 15vw;
  height: 4vw;
  background-color: #7d6e83;
  color: #fff;
  font-family: Inter;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3vw;
  margin-bottom: 0.5vw;
  border: none;
  border-radius: 1.8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-vid video {
  /* width: 33vw; */
  height: 21vw;
  border-radius: 2vw;
}

/* default large screen */
/* small screen */
@media (max-width: 767px) {
  .about {
    width: 100vw;
    height: 120vw;
    background-color: #dfd3c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .about-content .about-title {
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 12vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .about-content .about-desc {
    width: 80vw;
    color: #000;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 6vw 0vw;
  }

  .about-content .about-team-btn {
    width: 30vw;
    height: 9vw;
    background-color: #7d6e83;
    color: #fff;
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 4vw;
    margin-bottom: 2vw;
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-vid video {
    height: 40vw;
    margin-bottom: 4vw;
  }
}
