.footer {
  width: 100vw;
  height: 75vh;
  background-color: #7d6e83;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  width: 85vw;
  height: 100%;
  padding-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.footer-section-title {
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.contact-section {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contact-section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contact-section ul li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #fff;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
}

.contact-symbol {
  height: 3vw;
  width: 2vw;
  margin-right: 15px;
  background-position: center;
  background-size: cover;
}

.contact-details {
  width: auto;
}

.menu-section {
  width: 8vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.menu-section ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.menu-section ul li {
  margin-bottom: 24px;
}

.menu-section ul li a {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.newsletter-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.newsletter-section .message-box {
  width: 100%;
  height: 2vw;
  display: flex;
  flex-direction: row;
}

.newsletter-section .input-section {
  width: 15vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
}

.newsletter-section .sign-up-section {
  width: 4vw;
  background-color: #d0b8a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-section ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsletter-section ul li .social-icon {
  width: 3vw;
  height: 3vw;
  margin: 12px;
}

/* default large screen */
/* medium screen */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* small screen */
@media (max-width: 767px) {
}
