.hero-wrapper {
  background-color: #f8ede3;
  height: 42vw;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}

.ebook-wrapper {
  width: 40vw;
  height: auto;
  position: relative;
}

.ebook-wrapper .ebook-img {
  height: 30vw;
  width: 30vw;
  background-image: url("../assets/eBook.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: -2.6vw;
  bottom: -6.25vw;
  z-index: 100;
}

.ebook-wrapper .text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ebook-wrapper .ebook-text {
  color: #000;
  font-family: Inter;
  font-size: 4.375vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.desc-wrapper {
  width: 44vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc-wrapper .company-desc {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.company-desc .company-logo {
  width: 18vw;
  height: 10vw;
  background-image: url("../assets/logo.png");
  background-size: cover;
  background-position: center;
}

.company-desc .company-slogan {
  width: 22vw;
  color: #000;
  font-family: Inter;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1vw;
}

.desc-wrapper .description {
  width: 35vw;
  color: #000;
  font-family: Inter;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2.6vw;
}

/* default large screen */
/* small screen */
@media (max-width: 767px) {
  .hero-wrapper {
    background-color: #f8ede3;
    height: 150vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
  }

  .ebook-wrapper .ebook-img {
    height: 60vw;
    width: 60vw;
    background-image: url("../assets/eBook.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    right: auto;
    bottom: -6.25vw;
    z-index: 100;
  }

  .ebook-wrapper .ebook-text {
    color: #000;
    font-family: Inter;
    font-size: 14vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }

  .desc-wrapper {
    width: 120vw;
    padding: 12vw 10vw;
    padding-bottom: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .company-desc .company-logo {
    width: 36vw;
    height: 20vw;
    background-image: url("../assets/logo.png");
    background-size: cover;
    background-position: center;
  }

  .company-desc .company-slogan {
    width: 60vw;
    color: #000;
    font-family: Inter;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1vw;
  }

  .desc-wrapper .description {
    width: 80vw;
    color: #000;
    font-family: Inter;
    font-size: 3.6vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 12vw;
  }
}
