.hero-wrapper {
  background-color: #f8ede3;
  height: 56.25vw;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}

.ebook-wrapper {
  width: 40vw;
  height: auto;
  position: relative;
}

.ebook-wrapper .ebook-img {
  height: 30vw;
  width: 30vw;
  background-image: url("../assets/eBook.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: -2.6vw;
  bottom: -6.25vw;
  z-index: 100;
}

.ebook-wrapper .text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ebook-wrapper .ebook-text {
  color: #000;
  font-family: Inter;
  font-size: 4.375vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.desc-wrapper {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc-wrapper .company-desc {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.company-desc .company-logo {
  width: 18vw;
  height: 10vw;
  background-image: url("../assets/logo.png");
  background-size: cover;
  background-position: center;
}

.company-desc .company-slogan {
  width: 20vw;
  color: #000;
  font-family: Inter;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1vw;
}

.desc-wrapper .description {
  width: 35vw;
  color: #000;
  font-family: Inter;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2.6vw;
}

/* default large screen */
/* medium screen */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* small screen */
@media (max-width: 767px) {
}
