.service-wrapper {
  width: 100vw;
  height: 42vw;
  background-color: #d0b8a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-title {
  color: #000;
  font-family: Inter;
  font-size: 4.375vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-content {
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.service-content .service-li-element {
  width: 27vw;
  height: 16vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.element-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.element-num {
  color: #000;
  font-family: Inter;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 2vw;
  padding-right: 2vw;
}

.element-title {
  color: #000;
  font-family: Inter;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 2vw;
  padding-right: 2vw;
}

.element-desc {
  color: #000;
  font-family: Inter;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  margin-top: 0.5vw;
}

.service-li-element[value="2"] {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* default large screen */
/* medium screen */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* small screen */
@media (max-width: 767px) {
}
