.team-wrapper {
  width: 100vw;
  height: 90vh;
  background-color: #f8ede3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.team-wrapper .title {
  color: #000;
  font-family: Inter;
  font-size: 84px;
  font-weight: 700;
  text-align: center;
}

.card-wrapper {
  width: 100vw;
  height: auto;
  padding: 32px 0;
}

.swiper-slide {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  /* display: none; */
}

.card {
  width: 55vw;
  height: 25vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.card .card-img {
  width: 24vw;
  height: 22vw;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 2vw;
}
.card .card-content .card-name {
  color: #000;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}
.card .card-content .card-position {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card .card-content .card-desc {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 44px;
  margin-bottom: 60px;
}
.card .card-content .card-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}
.card .card-content .card-social img {
  width: 4vw;
  height: 4vw;
  margin-right: 32px;
}

.swiper-pagination {
  --swiper-theme-color: #000;
}

.slider-arrow {
  --swiper-theme-color: #000;
}

/* default large screen */
/* medium screen */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* small screen */
@media (max-width: 767px) {
}
